* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to bottom right, #ffffff, #f5f5f5);
  font-family: "Open Sans", sans-serif;
  color: #333;
}

.maps {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#mapid {
  height: 80%;
  max-width: 800px;
  width: 100%;
  padding: 0 20px;
  margin-bottom: 20px;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

}

#mapid:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem; /* Adiciona espaçamento entre os botões */
  flex-wrap: wrap; /* Faz com que os botões quebrem linha em telas menores */
  margin-top: 1rem; /* Adiciona um espaçamento superior */
}

.button-container button:hover {
  background-color: #005bcc;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
}

.button-container button {
  font-size: 1rem;
  padding: 1rem 2rem; /* Aumenta o espaçamento interno do botão */
  border-radius: 15px;
  background-color: #0077ff;
  color: white;
  border: none;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out,
    transform 0.3s ease-in-out;
  
}

.button-container button:hover {
  background-color: #005bcc;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
}

/* Media queries */

@media only screen and (max-width: 992px) {
  #mapid {
    height: 60%;
    max-width: 600px;
  }
}

@media only screen and (max-width: 768px) {
  #mapid {
    height: 60%;
    max-width: 500px;
  }
  .button-container button {
    font-size: 0.8rem; /* Diminui a fonte */
    padding: 0.8rem 1.5rem; /* Diminui o espaçamento interno */
  }
}

@media only screen and (max-width: 576px) {
  #mapid {
    height: 70%;
    max-width: 350px;
  }
  #clock {
    font-size: 1.5rem; /* Diminui o tamanho da fonte em telas menores */
    top: 78%; /* Ajusta a posição vertical */
  }

  @media only screen and (max-width: 480px) {
    #mapid {
      height: 79%;
      max-width: 300px;
    }

    .button-container button {
      font-size: 0.7rem; /* Diminui a fonte */
      padding: 0.7rem 1.2rem; /* Diminui o espaçamento interno */
    }

    .button-container {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .button-container button {
      margin-top: .1rem;
      width: 100%;
      max-width: 100%;
    }
  }
}
/* Modo escuro */
body.dark-mode {
  filter: invert(2) hue-rotate(180deg);
}